
nav > ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	list-style-type: none;
	margin: 0;
	padding: 0;

	background-color:  rgba(25, 25, 25);
	
}

nav > ul li {
	padding: 1em;
	text-align: center;
}

nav > ul li a{
	color: white;
	text-align: center;
	text-decoration: none;
	

}