body {
	background-color: #474e5d;
	font-family: Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

/*.container {

    padding: 10px 40px;
    position: relative;
    background-color: inherit;

/* article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    
} */

nav>ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: rgba(25, 25, 25);
}

nav>ul li {
	padding: 1em;
	text-align: center;
}

nav>ul li a {
	color: white;
	text-align: center;
	text-decoration: none;
}

.page-content {
	display: flex;
	flex-direction: column;
	margin: 5vh 10vw;
}

.grid-container {
	display: grid;
	flex: 1;
	grid-template-columns: 2fr 1fr;
	grid-gap: 2rem;
	justify-content: center;
}



.grid-item  img {
	width: 75%;
	border-radius: 20px;
	align-self: center;
	
}

/* .homepage-boxes {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

} */

.content-box {
	padding: 2rem;
	margin: 1rem 1rem;
	background-color: white;
	border-radius: 6px;
}

/* @media screen and (max-width: 600px) {

	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}
} */


@media screen and (max-width: 600px) {

	.grid-container {
		grid-template-columns: 1fr;

	}
}

