body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
  }

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    
} */

nav > ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	list-style-type: none;
	margin: 0;
	padding: 0;

	background-color:  rgba(25, 25, 25);
	
}

nav > ul li {
	padding: 1em;
	text-align: center;
}

nav > ul li a{
	color: white;
	text-align: center;
	text-decoration: none;
	

}

@media screen and (max-width: 600px) {

    /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
}
    